
@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin line-gradient-background(
  $direction: 90deg,
  $color1: #0066bc,
  $color2: #77bbfa,
  $txtColor: #fff,
) {
  background: linear-gradient($direction, $color1 0%, $color2 100%);
  color:$txtColor
}

@mixin height($height) {
  height:$height;
  line-height: $height;
}

@mixin bg-text-light ($color:#292929){
    $opaque: transparentize($color,0.88); //使颜色不透明
    background-color: $opaque;//设置透明颜色，为支持rgba颜色的浏览器服务
    color:$color;
}

@mixin bg-opacity($color,$opacity:1) {
  background-color: transparentize($color,1-$opacity);
}